.toggle {
    cursor:pointer;
}

.hamburger{
    font-size: 30px;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    width:1.125em;
    height:0.875em;

    .line{
        width:100%;
        height:0.12em;
        background: #606060;
        transition: 1s;
    }

    &.active {
    
        & > .line:first-child {
            background: #FF0000;
            transform: rotate(45deg) translateY(0.275em) translateX(0.275em);
            transition:transform 1s;
        }
    
        & > .line:nth-child(2) {
            transform: rotate(-45deg) ;
            transition:transform 1s;
        }
    
        & > .line:nth-child(3) {
            width:0;
            transition:1s;
        }
    }
}

.sidebar {
    display:none;
    flex-direction:column;
    max-width:300px;
    border-right:1px solid rgb(230, 230, 230);
    gap: 5px;
    padding:15px 0;

    &.open {
        display:flex;
    }

    .element {
        background: rgb(238, 238, 238);

        &:hover {
            background: rgb(195, 195, 195);
        }
    }



}