
body {
    background: rgb(91, 92, 53);
    margin:0;
}

h1 {
    color:#fff;
}

.menu_wrapper {
    background:#000;
    width:100%;
    position:sticky;
    top:0;
    padding: 0.8em;
    box-sizing:border-box;
}
.menu nav {
    display:none;
    flex-direction:column;
    gap:0.5em;
}

.menu a {
    text-decoration:none;
    color:#fff;
    padding: 0.8em;
    background: rgba(84, 84, 84, 0.626);
}

.hamburger.active + nav {
    display:flex;
}


.hamburger{
    font-size: 30px;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    width:1.125em;
    height:0.875em;
}

.rect {
    width:100%;
    height:0.125em;
    background: #fff;
    transition: 1s;
}

.hamburger.active .rect {
    background:aquamarine;
}

.hamburger.active > :first-child {
    background:bisque;
    transform: rotate(45deg) translateY(0.275em) translateX(0.275em);
    transition:transform 1s;
}

.hamburger.active >  :nth-child(2) {
    background:yellow;
    transform: rotate(-45deg) ;
    transition:transform 1s;
}

.hamburger.active > :nth-child(3) {

    width:0;
    transition:1s;
}
section {
    min-height:calc(100vh - 52px);
    padding:1rem;
    box-sizing:border-box;
}

#on_top {
    background:url(https://images.unsplash.com/photo-1659485261351-5829b87386fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);
}

#contact {
    background:rgb(45, 114, 91);
}
